.showcaseContainer{
    width: 60%;
    height: 300px;
    margin: 0px auto 0px auto;
    background-color: #ff5354;
    transition-delay: 2s;
    animation: fadein 1s ease-out;
}

@keyframes fadein {
    0%{
        opacity: 0;
        transform: translateY(30px) scale3d(.96,.96,1);
    }

    20%{
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateY(0px) scale3d(1,1,1);
    }
}