@import 'app';

.profile-header{
    animation: fadein 1s ease-out;

    text-align: start;
    width: 100%;
    margin: 20% auto 30% auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;  
}

.profile-photo{
    width: 100%;
    height: 100%;

    border-radius: 3px;
    background-color: $theme-secondary-active;
}

.profile-description{
    width: 60%;
    color: $font-color;
    font-size: 17px;
    font-weight: 500;
    margin: auto 0px auto 0px;
    text-align: justify;
    text-justify: inter-word;
}

.hyperlink-text{
    user-select: none;
    text-decoration: none;
    color: $theme-secondary-inactive;
    cursor: pointer;
    transition: color .4s;
}

.hyperlink-text:hover{
    color:  $theme-secondary-active;
}

@media all and (max-width:768px) {

}

/* Animations */




