@import 'app';

.showcaseContainer{
    width: auto;
    height: auto;
    margin: 0px;
    display: flex;
    flex-direction: row;
    transition-delay: 2s;
    animation: fadein 1s ease-out;
}

.helix-tilt{
    @extend %flex-column;
    border: 2px solid goldenrod;
    justify-content: center;
    
    .helix-summoner{
        background-size: contain;
        margin-top: 15px;

        flex: 1 1 130px;
    }

    .helix-row{
        @extend %flex-row;
        width:80%;
        margin: 5% auto 0% auto;
        justify-content: space-between;

        flex: 1 1 130px;

        .helix-stats {
            flex: 1;
        }    

        .helix-history{
            flex: 1;
        }
    }

}

.helix-detail {

}

.helix-header{
    font-family: $font;
    font-size: 5vw; 
    color: $theme-secondary-active;
    margin: 0px;
    float: left;
    transition: all .4s;
}

.helix-text {
    font-size: 18px;
    font-family: $font;
    color: rgb(175, 175, 175);
    text-align: justify;
    text-justify: inter-word;
}

.helix-gg{
    font-style: normal;
    color: #eeeeee;
}

.lol-link{
    user-select: none;
    text-decoration: none;
    color: $theme-secondary-inactive;
    cursor: pointer;
    transition: color .4s;
}

.lol-link:hover{
    color: $theme-secondary-active;
}

@media all and (max-width:768px) {
.showcaseContainer {
    flex-direction: column;
}
}

@keyframes fadein {
    0%{
        opacity: 0;
        transform: translateY(30px) scale3d(.96,.96,1);
    }

    20%{
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateY(0px) scale3d(1,1,1);
    }
}